body{
    margin: 0;
}

div{
    width: 100px;
    height: 100px;
    background: red;
    margin: 10px;
}

.box-vieja{  
    padding: 20px;
    border: 10px solid black
}

.box-nueva{
    box-sizing: border-box; /* no cambia el tamaño de la caja y el contenido se adapta al mismo*/
    padding: 20px;
    border: 10px solid black
}