p {
    color: red;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    text-decoration: line-through;
    line-height: 2;
    letter-spacing: 10px;
    text-transform: capitalize;  
}

h1 {
    text-align: center;
}