.formulario{
    background: green;
    padding: 20px 20px 20px 50px
    /*padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 20px */
}

.formulario_input{
    padding: 10px 10px;
    width: 90%;
    background-color: red;
    color: antiquewhite;
    margin-bottom: 0; /* margin colapse */
}

.formulario_submit{
    letter-spacing: 2px;
    text-transform: uppercase;
    background: red;
    color: black;
    margin-top: 10px /* margin colapse */
}